<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  
  <?if $(var.Platform) = x64 ?>
  <?define ProductCode = "{932a0f76-a93d-43d5-971c-3e05d053e895}" ?>
  <?else?>
  <?define ProductCode = "{932a0f76-a93d-43d5-971c-3e05d053e895}" ?>
  <?endif?>
  
  <?define UpgradeCode = "{0a59542e-7a9d-4ede-80c8-de6f6527c230}" ?>
  <?define BuildVersion = 1.0.0.0 ?>
  
  <!-- Product vars and stuffs -->
	<Product Id="$(var.ProductCode)" 
           Name="!(loc.ProductName_$(var.Platform))" 
           Language="!(loc.Language)" 
           Version="$(var.BuildVersion)" 
           Manufacturer="!(loc.GuildName)" 
           UpgradeCode="$(var.ProductCode)">
    
    <!-- Package details -->
		<Package InstallerVersion="200" 
             Compressed="yes" 
             InstallScope="perMachine" 
             Manufacturer="!(loc.GuildName)"
             Description="!(loc.Description)"
             Keywords="!(loc.Keywords)"
             Comments="!(loc.Comments)"
             />

    <!-- Error message in case of updated version -->
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    
    <!-- We can inlcude a .cab file in the .msi file here -->
    <MediaTemplate />
      <!-- EmbedCap="yes" -->


    <!-- Icon property for the installer -->
    <Icon Id="icon.ico" SourceFile="$(var.DesktopClient.ProjectDir)Resources\app_icon_192.png" />

    <!-- Use the Id of the Icon property above for this -->
    <Property Id="APPPRODUCTICON">icon.ico</Property>
    <Property Id="APPURLINFOABOUT">https://theorder.gg/bank</Property>

    <!-- Create a basic UI for our installer -->
    <UIRef Id="WixUI_Minimal" />
    
    <!-- Components, files, and other resources that are included in the installer -->
		<Feature Id="ProductFeature" Title="Installer" Level="1">
      
			<ComponentGroupRef Id="ProductComponents" />
      
		</Feature>
    
	</Product>

</Wix>
