<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  
  <?if $(var.Platform) = x64 ?>
  <?define ProductCode = "{932a0f76-a93d-43d5-971c-3e05d053e895}" ?>
  <?else?>
  <?define ProductCode = "{932a0f76-a93d-43d5-971c-3e05d053e895}" ?>
  <?endif?>
  
  <?define UpgradeCode = "{0a59542e-7a9d-4ede-80c8-de6f6527c230}" ?>
  <?define BuildVersion = 1.0.0.0 ?>
  
	<Product Id="$(var.ProductCode)" 
           Name="!(loc.ProductName_$(var.Platform))" 
           Language="!(loc.Language)" 
           Version="$(var.BuildVersion)" 
           Manufacturer="!(loc.GuildName)" 
           UpgradeCode="$(var.ProductCode)">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="Installer" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Installer" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
      <Component Id="ProductComponent">
				<!-- TODO: Insert files, registry keys, and other resources here. -->
        <File Source ="$(var.DesktopClient.TargetPath)" />
      </Component>
      <!-- </Component> -->
		</ComponentGroup>
	</Fragment>
</Wix>
